In [2]:
import pandas as pd 
import numpy as np 


resp = pd.read_csv('respirationevent_sub001.csv', sep='delimiter', header=None)

<ipython-input-2-e6236afa796d>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  resp = pd.read_csv('respirationevent_sub001.csv', sep='delimiter', header=None)

In [3]:
resp[0]

0                                     Event Summary;;;;;
1             Index;Time;Type;Channel;Label;Date Created
2      0;0.000 sec;Append;Global;Segment 1;Fri Jun 10...
3      1;1.101 sec;Expire Start;CH3, RSP - TSD221-MRI...
4      2;2.918 sec;Recovery;CH3, RSP - TSD221-MRI - R...
                             ...
718    716;806.042 sec;Inspire Start;CH3, RSP - TSD22...
719    717;809.856 sec;Expire Start;CH3, RSP - TSD221...
720    718;813.466 sec;Recovery;CH3, RSP - TSD221-MRI...
721    719;814.170 sec;Inspire Start;CH3, RSP - TSD22...
722                                                ;;;;;
Name: 0, Length: 723, dtype: object

In [4]:
resp = resp[0].str.split(";" , n = -1, expand = True)
resp

,0,1,2,3,4,5
0,Event Summary,,,,,
1,Index,Time,Type,Channel,Label,Date Created
2,0,0.000 sec,Append,Global,Segment 1,Fri Jun 10 12:06:20 2022
3,1,1.101 sec,Expire Start,"CH3, RSP - TSD221-MRI - Respiration Transducer...",No label,Wed Jun 15 13:07:31 2022
4,2,2.918 sec,Recovery,"CH3, RSP - TSD221-MRI - Respiration Transducer...",65,Wed Jun 15 13:07:32 2022
...,...,...,...,...,...,...
718,716,806.042 sec,Inspire Start,"CH3, RSP - TSD221-MRI - Respiration Transducer...",No label,Wed Jun 15 13:07:31 2022
719,717,809.856 sec,Expire Start,"CH3, RSP - TSD221-MRI - Respiration Transducer...",No label,Wed Jun 15 13:07:32 2022
720,718,813.466 sec,Recovery,"CH3, RSP - TSD221-MRI - Respiration Transducer...",65,Wed Jun 15 13:07:32 2022
721,719,814.170 sec,Inspire Start,"CH3, RSP - TSD221-MRI - Respiration Transducer...",No label,Wed Jun 15 13:07:31 2022
722,,,,,,

In [5]:
type(resp)
tag = resp.iloc[2:,[1,2]]
tag

               1              2
2      0.000 sec         Append
3      1.101 sec   Expire Start
4      2.918 sec       Recovery
5      3.955 sec  Inspire Start
6      6.208 sec   Expire Start
..           ...            ...
718  806.042 sec  Inspire Start
719  809.856 sec   Expire Start
720  813.466 sec       Recovery
721  814.170 sec  Inspire Start
722

[721 rows x 2 columns]

In [6]:
tag = tag.loc[ (tag[2]=="Expire Start") | (tag[2]=="Inspire Start") | (tag[2]=="Recovery")]
tag[1] = tag[1].str.replace('sec','').astype(float)
print(tag)

           1              2
3      1.101   Expire Start
4      2.918       Recovery
5      3.955  Inspire Start
6      6.208   Expire Start
7      6.246   Expire Start
..       ...            ...
717  806.003       Recovery
718  806.042  Inspire Start
719  809.856   Expire Start
720  813.466       Recovery
721  814.170  Inspire Start

[719 rows x 2 columns]

<ipython-input-6-894de9408b3f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tag[1] = tag[1].str.replace('sec','').astype(float)

In [7]:
tag.to_csv('resp_pulse.csv', index = None)